body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1;
  background-color: #e6e9ed;
  display: flex;
  flex-direction: column;
}

body > .footer {
  flex: 0 0;
  padding: 0;
  display: flex;
  flex-wrap: row;
  align-items: center;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.breadcrumb-container .breadcrumb{
  margin-bottom: 0;
  padding-left: 0;
}

.page-container{
  flex: 1 1;
  position: relative;
  overflow-x: auto;
  background-color: white;
  padding-bottom: 5em;
}

.navbar-logo {`
  color: #8c8c8c;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-logo > img {
  height: 50px;
  width: 50px;
}

.footer-logo {
  height: auto;
  width: auto;
  margin-top: 0;
  line-height: inherit;
  float: none;
  padding: 0;
}
.footer-logo > img {
  height: 75px;
  width: 125px;
}


.dropdown-menu{
  max-height: 90vh;
  overflow: auto;
}
.dropdown-menu > li {
  margin-left: 0;
}
.dropdown-menu > .dropdown-menu-current {
  background-color: rgba(255,255,255,0.25);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1, .h1{
  padding-bottom: 0.3em;
  font-size: 38px;
}

h2, .h2{
  padding-bottom: 0.3em;
  font-size: 28px;
  border-bottom: 1px solid #eaecef;
}

h3, .h3{
  font-size: 20px;
}

ol, ul {
  padding-left: 1em;
}
ol > li,
ul > li {
  margin-left: 1em;
}


.list-item-with-checkbox{
  list-style: none;
}

.list-item-with-checkbox > input:first-child{
  margin-left: -1em;
  margin-right: 0.75em;
}

ul.skills > li > label {
  display: block;
  margin: 0;
  font-weight: inherit;
  cursor: pointer;
}

ul.skills > li > label > input[type="checkbox"] {
  margin-right: 0.75em;
}

.markdown-page-options{
  position: absolute;
  top: 0.25em;
  right: 0.75em;
  margin: 0;
}

.skill-show-page-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-show-page-heading > .skill-checkbox {
  margin-right: 0.25em;
}

.guide-iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.markdown-body{
  padding-top: 15px;
}
.markdown-body > *:first-child {
  margin-top: 0 !important;
}


.users-grid{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.users-grid-member {
  margin: 2px;
  width: 140px;
  text-align: center;
}
.users-grid-member-name {

}
.users-grid-member-handle {

}
.users-grid-member-avatar > img {
  height: 10vh;
  min-width: 10vh;
}
