body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1;
}

body > .footer {
  flex: 0 0;
  margin-top: 5em;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.breadcrumb-container .breadcrumb{
  margin-bottom: 0;
}

.footer{
  flex: 0 0;
  margin-top: 5em;
}

.footer-logo img {
  height: 120px;
}


.dropdown-menu{
  max-height: 90vh;
  overflow: auto;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1, .h1{
  padding-bottom: 0.3em;
  font-size: 40px;
}

h2, .h2{
  padding-bottom: 0.3em;
  font-size: 32px;
  border-bottom: 1px solid #eaecef;
}

h3, .h3{
  font-size: 25px;
}

ol, ul {
  padding-left: 1em;
}
