extends ../layout

block content
  h1 Skills
  ul
    each skill, key in skills
      - const checked = checks[skill.name] || false
      li.list-item-with-checkbox(data=data)
        input.skill-checkbox(type="checkbox", checked=checked, data-label=skill.name)
        a(href="/skills/"+skill.id)
          !{renderMarkdown(skill.name).slice(3,-5)}
