extends ../layout

block content

  h1.skill-show-page-heading
    input.skill-checkbox(type="checkbox", data-label=skill.name, checked=checked)
    span
      !{renderMarkdown(skill.name).slice(3,-5)}

  h2 Modules
  ul
    for moduleId in skill.modules
      - const module = digest.modules[moduleId]
      li
        a(href="/modules/"+module.id)= module.name
