ol.breadcrumb
  li
    a(href='/') home

  - breadcrumbs = path.split('/')
  - breadcrumbs.shift()
  if breadcrumbs[breadcrumbs.length-1] === ''
    - breadcrumbs.pop()
  - for (var index = 0; index < breadcrumbs.length; index++)
    - part = breadcrumbs[index]
    if index === breadcrumbs.length - 1
      li.active= part.replace(/-/g,' ')
    else
      li
        a(href='/'+breadcrumbs.slice(0, index+1).join('/'))= part.replace(/-/g,' ')
