extends layout

block content
  - src = "https://calendar.google.com/calendar/embed?wkst=1&mode=AGENDA&src=learnersguild.org_r2argrccjqlrd6md4shel1lad4%40group.calendar.google.com&showPrint=0&showCalendars=0&ctz=America%2FLos_Angeles"
  iframe.phase-calendar-iframe(src=src style="border-width:0" frameborder="0" scrolling="no")
