.footer.bg-slate-grey
  a.footer-logo(href='/')
    img(src='https://brand.learnersguild.org/assets/learners-guild-logo-white-250x149.png')
  .footer-copyright.text-light-grey Copyright © 2017 Learners Guild. All rights reserved.
