.footer
  .container
    .clearfix
      .footer-logo
        a(href='/')
          img(src='https://brand.learnersguild.org/assets/learners-guild-logo-white-250x149.png')
      dl.footer-nav
        dt.nav-title PORTFOLIO
        dd.nav-item
          a(href='#') Web Design
        dd.nav-item
          a(href='#') Branding & Identity
        dd.nav-item
          a(href='#') Mobile Design
        dd.nav-item
          a(href='#') Print
        dd.nav-item
          a(href='#') User Interface
      dl.footer-nav
        dt.nav-title ABOUT
        dd.nav-item
          a(href='#') The Company
        dd.nav-item
          a(href='#') History
        dd.nav-item
          a(href='#') Vision
      dl.footer-nav
        dt.nav-title GALLERY
        dd.nav-item
          a(href='#') Flickr
        dd.nav-item
          a(href='#') Picasa
        dd.nav-item
          a(href='#') iStockPhoto
        dd.nav-item
          a(href='#') PhotoDune
      dl.footer-nav
        dt.nav-title CONTACT
        dd.nav-item
          a(href='#') Basic Info
        dd.nav-item
          a(href='#') Map
        dd.nav-item
          a(href='#') Conctact Form
    .footer-copyright.text-center Copyright © 2017 Learners Guild. All rights reserved.
