extends layout

block breadcrumb


block content
  h1 Glossary

  ul
    for definition in glossary
      li
        a(href="##{definition.term}")= definition.term

  for definition in glossary
    h2(id=definition.term)= definition.term
    pre.pre-wrap= definition.description

    if "links" in definition
      ul
        for link in definition.links
          li
            a(href=link target="_blank")= link
