<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Curriculum - Learners Guild</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
    <link href="/style.css" rel="stylesheet">
    <link href="/pygments.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootflat</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
          <p class="navbar-text navbar-right"><a class="navbar-link" href="">Signed in as Mark Otto</a></p>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/">home</a></li>
          <% breadcrumbs.reduce((path, part, index) => { %>
            <% path = path+'/'+part %>
            <% if (index === breadcrumbs.length - 1) { %>
              <li class="active"><%= part %></li>
            <% } else { %>
              <li><a href="<%= path %>"><%= part %></a></li>
            <% } %>
            <% return path %>
          <% }, []) %>
        </ol>
      </div>
    </div>

    <div class="container">
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="footer">
          <div class="container">
            <div class="clearfix">
              <div class="footer-logo">
                <a href="/">
                  <img src="https://brand.learnersguild.org/assets/learners-guild-logo-white-250x149.png">
                </a>
              </div>
              <dl class="footer-nav">
                <dt class="nav-title">PORTFOLIO</dt>
                <dd class="nav-item"><a href="#">Web Design</a></dd>
                <dd class="nav-item"><a href="#">Branding &amp; Identity</a></dd>
                <dd class="nav-item"><a href="#">Mobile Design</a></dd>
                <dd class="nav-item"><a href="#">Print</a></dd>
                <dd class="nav-item"><a href="#">User Interface</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="nav-title">ABOUT</dt>
                <dd class="nav-item"><a href="#">The Company</a></dd>
                <dd class="nav-item"><a href="#">History</a></dd>
                <dd class="nav-item"><a href="#">Vision</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="nav-title">GALLERY</dt>
                <dd class="nav-item"><a href="#">Flickr</a></dd>
                <dd class="nav-item"><a href="#">Picasa</a></dd>
                <dd class="nav-item"><a href="#">iStockPhoto</a></dd>
                <dd class="nav-item"><a href="#">PhotoDune</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="nav-title">CONTACT</dt>
                <dd class="nav-item"><a href="#">Basic Info</a></dd>
                <dd class="nav-item"><a href="#">Map</a></dd>
                <dd class="nav-item"><a href="#">Conctact Form</a></dd>
              </dl>
            </div>
            <div class="footer-copyright text-center">Copyright © 2017 Learners Guild. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
