doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Curriculum - Learners Guild
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/assets/bootflat/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/bootflat/css/site.min.css')
    link(rel='stylesheet', href='/assets/highlight.css')
    link(rel='stylesheet', href='/assets/highlight-sunburst.css')
    link(rel='stylesheet', href='/assets/style.css')
    script(src="/assets/bootflat/js/jquery-1.10.1.min.js")
    script(src="/assets/bootflat/js/bootstrap.min.js")

  body
    main
      include navbar

      .breadcrumb-container.container
        .row
          include breadcrumb

      .page-container.container
        block content


      include footer
