extends ./minimum_layout

block body
  main
    include navbar

    block breadcrumb
      .breadcrumb-container.container
        .row
          include breadcrumb

    .page-container.container
      block content


  include footer
