extends layout

block content
  ul.markdown-page-options.list-inline
    li
      a(href=sourceUrl target="_blank") Source
    li
      a(href=editeUrl target="_blank") Edit

  textarea.hidden.skills-data= JSON.stringify(currentModuleSkills)

  .markdown-body !{content}


