nav.navbar.navbar-inverse(role='navigation')
  .container-fluid

    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-5')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Learners Guild

    .collapse.navbar-collapse
      ul.nav.navbar-nav

        li
          a(href='https://guide.learnersguild.org') Guide

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Phases
            b.caret
          ul.dropdown-menu(role='menu')
            each phase in phases
              li
                a(href='/phases/'+phase) Phase #{phase}

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Modules
            b.caret
          ul.dropdown-menu(role='menu')
            each module in modules
              li
                a(href='/modules/'+module)= module.replace(/-/,' ')

      form.navbar-form.navbar-right(role='search')
        .form-search.search-only
          i.search-icon.glyphicon.glyphicon-search
          input.form-control.search-query(type='text')

//-   // /.navbar-collapse
//-   // /.container-fluid




//- nav.navbar.navbar-inverse(role='navigation')
//-   .container
//-     .navbar-header
//-       button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-7')
//-         span.sr-only Toggle navigation
//-         span.icon-bar
//-         span.icon-bar
//-         span.icon-bar
//-       a.navbar-brand(href='#') Learners Guild

//-       .btn-group
//-         button.btn(type='button') Normal
//-         button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
//-           span.caret
//-           span.sr-only Toggle Dropdown
//-         ul.dropdown-menu(role='menu')
//-           li
//-             a(href='#') Action
//-           li
//-             a(href='#') Another action
//-           li
//-             a(href='#') Something else here
//-           li.divider
//-           li
//-             a(href='#') Separated link

//-     .collapse.navbar-collapse
//-       p.navbar-text.navbar-right
//-         a.navbar-link(href='') deadlyicon


