nav.navbar.navbar-inverse(role='navigation')
  .container-fluid

    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-5')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Learners Guild

    .collapse.navbar-collapse
      ul.nav.navbar-nav

        li
          a(href='https://guide.learnersguild.org') Guide

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Phases
            b.caret
          ul.dropdown-menu(role='menu')
            each phase in phases
              li
                a(href='/phases/'+phase.number) Phase #{phase.number}

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Modules
            b.caret
          ul.dropdown-menu(role='menu')
            each module in modules
              li
                a(href='/modules/'+module.name)= module.name

        li.dropdown
          a(href='/skills/')
            | Skills

      .navbar-text.navbar-right
        .list-inline
          li
            a.navbar-link(href="")= user.handle
          li
            a.navbar-link(href=logoutUrl) logout
