extends layout

block breadcrumb

block content
  .text-center
    h1 Page Not Found

    img(src="https://media.giphy.com/media/9J7tdYltWyXIY/giphy.gif")

  style(type='text/css')
    | .page-container{
    |   background: transparent;
    | }
