extends layout

block content
  h1 Skills

  .skills-list
    each skill, key in skills
      .skills-list-item.panel.panel-default
        .panel-heading
          h4.panel-title
            input.skills-list-item-checkbox(type="checkbox")
            a.skills-list-item-toggle-button(href="")
              span.skills-list-item-name= skill.name
              .pull-right
                  i.skills-list-item-collapsed-icon.glyphicon.glyphicon-chevron-left
                  i.skills-list-item-expanded-icon.glyphicon.glyphicon-chevron-down

        .panel-body
          h5 Modules
          ul.list-group
            each module in skill.modules
              li.list-group-item
                a(href="/modules/#{module.replace(/ /g, '-')}")= module
