extends ../layout

block content

  h1= user.name
  h3= user.handle

  ul.list-inline
    li
      a(href="https://github.com/"+user.handle, target="_blank") GitHub
    li
      a(href="mailto:"+user.email) Email
    li
      a(href="https://learnersguild.slack.com/messages/@"+user.handle, target="_blank") Slack DM

  img(src=user.avatarUrl)
